appdirs==1.4.4
async-generator==1.10
attrs==21.2.0
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cloudscraper==1.2.60
cryptography==35.0.0
distlib==0.3.1
filelock==3.0.12
h11==0.12.0
idna==3.3
Js2Py==0.71
outcome==1.1.0
Panda3D==1.10.9
pycodestyle==2.8.0
pycparser==2.21
pyjsparser==2.7.1
pynytimes==0.8.0
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyperclip==1.8.2
python-aternos==1.0.5
pytz-deprecation-shim==0.1.0.post0
regex==2022.4.24
requests==2.27.1
requests-toolbelt==0.9.1
screeninfo==0.6.7
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
sounddevice==0.4.4
soupsieve==2.3.2.post1
toml==0.10.2
trio==0.19.0
trio-websocket==0.9.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.7
virtualenv==20.4.3
websockets==10.3
wsproto==1.0.0